{% extends 'gradesApp/base.html' %}
{% load crispy_forms_tags %}

{% block body_block %}
<div style="color:white;margin-top:50px">
<h1 style="text-align:center; padding:40px; color: #191970" class="jumbotron">|| Solution List ||</h1>


<div class="row justify-content-center mt-3">
  <div class="col-mid-5 col-sm-12">
    <p><strong>Title: </strong>{{ problem.title }}<br>
    <b>Due: </b>{{ problem.due }}</p>
  </div>
</div>


    <table class="table" style="color:white">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Student Name</th>
          <th scope="col">Submission Time</th>
          <th scope="col">View Answer</th>
        </tr>
      </thead>
      <tbody>
        {% for solution in solution %}
          <tr>
            <td>{{ solution.author }}</td>
            <td>{{ solution.submission_time }}</td>
            <td><a href="{% url 'exam:solution_detail' solution.pk %}" class="btn btn-info">Evaluate Answer</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
